<!-- /templates/list-collections.liquid -->
</main>
  <section class="section-container filterFrame filterClick">
  	<div class="one-whole filterClick" id="filterHolder">
  		<div class="one-third small--one-whole text-left mainFilter filterClick">
	  		<b class="filterClick">Themes</b>
	  		
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick" id="themes">
		  		<label for="Bright/Brave"><input id="Bright/Brave" name="Bright/Brave" value="Bright-Brave" type="checkbox" />Bright & Brave</label>
				<label for="Dark/Spooky"><input id="Dark/Spooky" name="Dark/Spooky" value="Dark-Spooky" type="checkbox" />Dark & Spooky</label>
				<label for="Minimal"><input id="Minimal" name="Minimal" value="Minimal" type="checkbox" />Minimal</label>
				<label for="Patterns"><input id="Patterns" name="Patterns" value="Patterns" type="checkbox" />Patterns</label>
				<label for="Illustration"><input name="Illustration" id="Illustration" value="Illustration" type="checkbox" />Illustration</label>
				<label for="the-best-sellers"><input name="the best sellers" id="the-best-sellers" value="the-best-sellers" type="checkbox" />Best Sellers</label>
				
		  		
	  		</div>
	  		
	  		
  		</div>
  		<div class="one-third small--one-whole text-left mainFilter filterClick" >
	  		<b class="filterClick">Colors</b>
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick" id="colors">
		  		<label for="Black"><input name="Black" id="Black" value="Black" type="checkbox" />Black</label>
				<label for="Blue"><input name="Blue" id="Blue" value="Blue" type="checkbox" />Blue</label>
				<label for="Green"><input name="Green" id="Green" value="Green" type="checkbox" />Green</label>
				<label for="Red"><input name="Red" id="Red" value="Red" type="checkbox" />Red</label>
				<label for="Orange"><input name="Orange" id="Orange" value="Orange" type="checkbox" />Orange</label>
				<label for="Yellow"><input name="Yellow" id="Yellow" value="Yellow" type="checkbox" />Yellow</label>
				<label for="Purple"><input name="Purple" id="Purple" value="Purple" type="checkbox" />Purple</label>
				<label for="Multicolor"><input name="Multicolor" id="Multicolor" value="Multicolor" type="checkbox" />Multicolor</label>
				<label for="Grey"><input name="Grey" id="Grey" value="Grey" type="checkbox" />Grey</label>
				<label for="White"><input name="White" id="White" value="White" type="checkbox" />White</label>
	
		  	</div>
  		</div>
  		<div class="one-third small--one-whole text-left mainFilter filterClick" style="border:0px;">
	  		<b class="filterClick">Partners</b><br>
	  		
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox" id="partners">
		  		<a href="/collections/nba"><input name="NBA" id="NBA" value="NBA" type="checkbox" />NBA</a>
				<a href="/collections/major-league-baseball"><input name="MLB" id="MLB" value="MLB" type="checkbox" />MLB</a> 
				<a href="/collections/nhl"><input name="NHL" id="NHL" value="NHL" type="checkbox" />NHL</a>
		  		<a href="/pages/brands"><input name="Brand" id="Brand" value="brand" type="checkbox" />Brands</a>
				<a href="/pages/nonprofits"><input name="Nonprofits" id="Nonprofits" value="Nonprofits" type="checkbox" />Nonprofits</a> 
				<a href="/pages/artists"><input name="Artist" id="Artist" value="artist" type="checkbox" />Artists</a>
				<a href="/pages/musicians"><input name="Musician" id="Musician" value="musician" type="checkbox" />Musicians</a>
				<a href="/pages/influencers"><input name="Musician" id="Musician" value="musician" type="checkbox" />Influencers</a>
				<div class="one-whole text-right"><a href="/pages/more-collections" >See All Partners</a></div>

	  		</div>
  		</div>

  		<div style="clear: both"></div>
  	</div>
  </section>

<main class="wrapper main-content medium-margin" role="main" id="theBody">




<script type="text/javascript">		
  $('document').ready(function() {
		$('.mainFilter').click(function() {
			  var which = $('.filterBox',this);
			$(".filterBox").not(which).fadeOut(300);
			$('.filterBox',this).fadeToggle(300);	
		})
		$('.filterFrame label').click(function(){
			Lname = $('input',this).attr('name');
			analytics.track('Clicked collection Filter', {
		      Name: Lname
		    });

			if($('input',this).attr('name') =="the best sellers") {
				 window.location.href ='/collections/the-best-sellers/';
		     	
		     }else if ($('input',this).attr('name') =="Bright/Brave") {
		     	 window.location.href ='/collections/bright-and-brave/';
		     }else if ($('input',this).attr('name') =="Dark/Spooky") {
		     	 window.location.href ='/collections/dark-and-spooky/';
			}else if ($('input',this).attr('name') =="Patterns") {
		     	 window.location.href ='/collections/pattern/';
		     }else if ($('input',this).attr('name') =="Minimal") {
		     	 window.location.href ='/collections/minimal/';
		     }else {
			    window.location.href ='/collections/filters/'+$('input',this).val();
		     }	
		     $(".filterBox").css('opacity', '0');
		     
		 })
		  $('body').click(function(event) {
			//console.log(event.target.id );
			if(!$(event.target).hasClass('filterClick')) {
			//	console.log('clicked');
				$(".filterBox").fadeOut(300);
			}
		 })
		 
		 	
		$(".feature-tiles a").click(function(){
			Lname = $(this).attr('title');
	    	analytics.track('Clicked collections Callout', {
		      Name: Lname
		    });
		});
		
	
	

	  
	  
	})
	</script> 