<!-- /snippets/collab-sugnup-link.liquid -->

</main>
<div class="grid--full one-whole purple-bg text-center genSection">
	<h2>Know an organization that deserves to have <br>great products?</h2>
	<p>We'd love to do the work</p>
	<button class="btn--secondary"><a href="/pages/storefronts">
		Get started, it's free</a></button>
		<p><a href="/pages/storefronts" class="whiteLink">Or, refer a brand that you love</a></p>
</div>
<main class="wrapper" role="main">