{{ 'instafeed.min.js' | asset_url | script_tag }}

<section class="section-container">
	<div class="grid social">
		<div class="grid__item large--two-thirds">
			<h6>THE MODIFY WAY</h6>
			<hr class="orangeDash" />
			<div class="vid">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/QrPa9MiVm2k?autoplay=0&rel=0&autohide=1&showinfo=0&controls=0?&loop=1" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
		<div class="grid__item large--one-third">
			<a href="https://instagram.com/modifywatches/" ><h6>INSTAGRAM <span>@MODIFYWATCHES<span></h6></a>
			<hr class="orangeDash" />
			<div id="instafeed"></div>
		</div>
	</div>
</section>

<script type="text/javascript">
 var feed = new Instafeed({
		clientId: 'dd2448a2f95a422bae54627d6cbb2283',
		get: 'user',
		userId: 51225638,
		accessToken: '51225638.dd2448a.1e5e1cb279104264a6e03c88bdf98020',
		sortBy: 'most-recent',
		resolution: 'low_resolution',
		limit: 4
    });
    feed.run();
</script>