<div class="one-whole">
{% if product.type == 'Alloy watch' %}
	<p class="super-small"><span class="">$95</span> with a leather strap - <span class="">$75</span> with a nylon strap - <span class="">$60</span> with just a face</p>
{% endif %}



</div>