 {% if product.type == "Watch" or product.type == 'CustomSportWatch' or product.type == 'Sport Watch' %}
   
      <div class="grid__item one-third small--one-whole">
        <h3>The Watch</h3>
        <ul class="the-watch" style="margin-left: 18px; margin-bottom: 18px;">
          <li>Japanese Quartz Movement</li>
          <li>Stainless steel, scratch-resistant PC</li>
          <li>Super-soft, lightweight, and durable UV-coated silicone straps</li>
          <li>3ATM Water Resistant</li>
        </ul>
       
      </div>
     <div class="grid__item one-third small--one-whole">
        <h3>Hand-Assembled in USA</h3>
        <p>All Modify Watches are Made-to-Order. That means we print and assemble your watches here in our office in San Francisco as soon as you place your order. </p>
        <p>Proud member of <a href="http://www.sfmade.org/blog/modifywatches/">SFMade.</a></p>
      </div>
      <div class="grid__item one-third small--one-whole">
        <h3>1-Year Warranty</h3>
        <p>We want you to love your watch. Sooooo, if it stops working, we'll fix it. And if your battery dies in a few years, we'll fix that too. You're in the ModiFamily now :)</p>
              </div>
      
      {% elsif product.type == "Alloy watch" or product.type == 'CustomMetalWatch' %}
      <div class="grid__item one-third small--one-whole">            
	      <h3>The Watch</h3>
            <ul class="the-watch" style="margin-left: 18px; margin-bottom: 18px;">
            <li>Stainless steel back, gun metal case</li>
            <li>Looks great with our durable and comfortable woven nylon or leather straps</li>
            <li>5ATM Water Resistant (Go swimming!)</li>
            <li>Japanese Quartz Movement</li>
            </ul>
           
        </div>
        <div class="grid__item one-third small--one-whole">
            <h3>Hand-Assembled in USA</h3>
            <p>All Modify Watches are Made-to-Order. That means we print and assemble your watches here in our office in San Francisco as soon as you place your order. </p>
            <p>Proud member of <a href="http://www.sfmade.org/blog/modifywatches/">SFMade.</a></p>
        </div>
        <div class="grid__item one-third small--one-whole">
            <h3>1-Year Warranty</h3>
            <p>We want you to love your watch. Sooooo, if it stops working, we'll fix it. And if your battery dies in a few years, we'll fix that too. You're in the ModiFamily now :)</p>
            
        </div>

		{% elsif product.type == "Stainless Steel Watch" or product.type == 'CustomStainlessSteelWatch' %}
      <div class="grid__item one-third small--one-whole">            
	      <h3>The Watch</h3>
            <ul class="the-watch" style="margin-left: 18px; margin-bottom: 18px;">
            <li>Stainless Steel Case</li>
            <li>10 ATM Water Resistance</li>
            <li>Pairs with Leather or Nylon Straps</li>
            <li>Japanese Quartz Movement</li>
            </ul>
           
        </div>
        <div class="grid__item one-third small--one-whole">
            <h3>Hand-Assembled in USA</h3>
            <p>All Modify Watches are Made-to-Order. That means we print and assemble your watches here in our office in San Francisco as soon as you place your order. </p>
            <p>Proud member of <a href="http://www.sfmade.org/blog/modifywatches/">SFMade.</a></p>
        </div>
        <div class="grid__item one-third small--one-whole">
            <h3>1-Year Warranty</h3>
            <p>We want you to love your watch. Sooooo, if it stops working, we'll fix it. And if your battery dies in a few years, we'll fix that too. You're in the ModiFamily now :)</p>
           
        </div>
        
        
	    {% endif %}
    