 <div class="one-whole text-center big-padding big-margin">
	 <h3>The Watches</h3>
	 <hr class="orangeHR text-center"/>
	 <p class="skinny">With unwavering enthusiasm for creating,Danny made the switch from a career as a videographer and video editor to an independent artist focusing on his personal and client work. Hypnotic, eccentric, and in no way boring, his style has already captivated major brands such as Adobe and Starbucks who were</p>
	 <img src="{{ 'guitar.jpg' | asset_url }}" class="skinnyImage big-padding" />
 </div>