 <div class="one-whole text-center big-padding big-margin">
	 <h3>The Watches</h3>
	 <hr class="orangeHR text-center"/>
   <p class="skinny">Modify makes custom watches, hand-assembled in San Francisco. We partner with amazing artists, important causes, talented musicians, dope influencers and more to create custom gear that their fans love. We have a few styles, from a fun, lightweight and durable silicone style through a higher-end stainless steel and leather timepiece. See our <b><a href="/collections/best-sellers">best-sellers</a></b>, design your own <b><a href="/pages/custom">custom watch</a></b> or just browse designs from our thousand plus partners who use Modify as their merchandise partner.<br></p>
	 <img src="{{ 'Watches_Asset.jpg' | asset_url }}" class="skinnyImage big-padding" />
 </div>