<!-- /templates/404.liquid -->
<div class="one-whole text-center big-margin" style="padding-top: 50px;">
	
	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/404_error.gif?4653233586168521197" />
	
	
	<h4>The page you're looking for must not exist.<br>
		<a href="/collections"><b>Click Here</b></a> to browse our sweet watches</h4>
</div>