<!-- /templates/404.liquid -->
<div class="one-whole text-center big-margin">
	<h1 class="">{{ 'general.404.title' | t }}</h1>
	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/404_error.gif?4653233586168521197" />
	
	
	
</div>