<!-- Main Featured Header -->
</main>
  <section class="section-container wrapper medium-margin feature-header">
     <div class="left one-half small--one-whole bigCallout">
	     <a href="/collections" title="browse our watches">
		      <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/browse.png?18032034721448327452" alt="browse watches"/>
			     <br>OUR WATCHES
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/browseHome_c3cf1b03-a53d-4f8b-a0b8-3bdaf8fe9e50.jpg?7093112693497923477" alt="modify watches"/>
	     </a>
     </div>
      <div class="left one-half small--one-whole bigCallout">
	     <a href="/custom" title ="custom watches">
		     <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/design.png?18032034721448327452" alt="design your own"/>
			     <br>YOUR OWN
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/customHome_1531d1ec-261b-4a95-afd0-f6fa7c74bf31.jpg?7093112693497923477" alt="custom watches"/>
	     </a>
     </div>
     
     <div style="clear:both"></div>
  </section>

<main class="wrapper main-content medium-margin homeContainer" role="main">
	
	<section class="one-whole text-center medium-margin bigCallout" id="modifyCallout">
		<a href="/bca">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/BCA-banner.jpg?12053109438401332279" class="show small--hide"/>
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/BCA-banner-mobile.jpg?15120746143025844136" class="hide small--show"/>	
		</a>
	</section>

	<section class="one-whole text-center small-margin" id="modifyCallout">
			<h1>Modify: The Best Custom Watch for Any Occasion</h1>
			<hr class="orangeDash-center" />
		<div class="grid__item three-quarters small--one-whole">
			<div class="left four-twelfths text-left  grey-text smallishText small--one-whole">
				<a href="/collections"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/explosion.jpg?15046507482822488589" alt="made in sf"/></a>
				
				<!--		
				<p class="">Modify Watches help you "show your colors". Use Modify to</p>
					<ul>
						<li>class-it-up at a wedding</li>
						<li>bring your loved ones with you always, thanks to photo watches of your kids (or dog!).</li>
						<li>prove your loyalty to Cleveland sports even though you know you'll be disappointed</li>
						<li>match your funky polka dot pants</li>
					</ul>
					<p>Hand-assembled in San Francisco, Modify can create the watch that suits <b>you</b>.</p>
					-->
			</div>
			<div class="grid__item eight-twelfths small--one-whole" style="line-height: 0px;">
				<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/anyocc_827ac6b6-7b69-465e-b35c-f7d473a13e98.jpg?15607413634259147375" class="lightBorder" alt="watches for any occasion"/>
			</div>
		</div>
		<div class="grid__item right one-quarter small--one-whole" style="position: relative;">
			
				<a href="https://www.instagram.com/modifywatches/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/instag.jpg?11925725817783463394" alt="modify instagram"/></a>
			
		</div>
	<div style="clear:both"></div>
</section>

	
	

<!-- Scripts -->

<script type="text/javascript">
	$(document).ready(function() {
		$(".bigCallout a").click(function(){
			 Lname = $(this).attr('title');
	    	analytics.track('Clicked Home Callout', {
		      Name: Lname
		    });

		});
	
	
	})
	
  analytics.page('Homepage');
</script> 