<!-- Main Featured Header -->
</main>
  <section class="section-container wrapper medium-margin feature-header">
     <div class="left one-half small--one-whole bigCallout">
	     <a href="/collections">
		      <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/browse.png?1109569935745509404" />
			     <br>OUR WATCHES
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/lineupRedux.jpg?14143362136789419371" />
	     </a>
     </div>
      <div class="left one-half small--one-whole bigCallout">
	     <a href="/custom">
		     <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/design.png?5666156053256208091" />
			     <br>YOUR OWN
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/custom-button.jpg?15518218730315601756" />
	     </a>
     </div>
     
     <div style="clear:both"></div>
  </section>

<main class="wrapper main-content medium-margin homeContainer" role="main">
	<section class="one-whole text-center big-margin" id="modifyCallout">
			<h1>Modify: The Best Custom Watch for Any Occasion</h1>
			<hr class="orangeDash-center" />
		<div class="grid__item three-quarters small--one-whole">
			<div class="left four-twelfths text-left  grey-text smallishText small--one-whole">
				<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/madinsf-1.jpg?17129998137977391642"/>
				
				<!--		
				<p class="">Modify Watches help you "show your colors". Use Modify to</p>
					<ul>
						<li>class-it-up at a wedding</li>
						<li>bring your loved ones with you always, thanks to photo watches of your kids (or dog!).</li>
						<li>prove your loyalty to Cleveland sports even though you know you'll be disappointed</li>
						<li>match your funky polka dot pants</li>
					</ul>
					<p>Hand-assembled in San Francisco, Modify can create the watch that suits <b>you</b>.</p>
					-->
			</div>
			<div class="grid__item eight-twelfths small--one-whole" style="line-height: 0px;">
				<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/anyoccasion.jpg?5259805632939333284" class="lightBorder"/>
			</div>
		</div>
		<div class="right one-quarter small--one-whole" style="position: relative;">
			{% include 'instagram-feed' %}
			<div id="instaLogo">
				<a href="https://www.instagram.com/modifywatches/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0787/5183/files/igLogo.png?2891615229965963305" /></a>
			</div>
		</div>
	<div style="clear:both"></div>
</section>

	
	

<!-- Scripts -->
<script defer src="https://cdn.shopify.com/s/files/1/0358/9733/t/3/assets/jquery.flexslider.js"></script>
<script>
/* FEATURE SLIDER SCRIPT */
	$(window).ready(function() {
		$('.feature-header .flexslider').flexslider({
			animation : "slide"
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".slides li a").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' Home Banner');
		});
		$("#shopNav li a").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' in Home Nav');
		});
		$("a.calloutLinks").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' Home Callout');
		});
	
	
	})
	
  analytics.page('Homepage');
</script> 