<!-- Main Featured Header -->
</main>
  <section class="section-container wrapper medium-margin feature-header">
     <div class="left one-half small--one-whole bigCallout">
	     <a href="/collections">
		      <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/browse.png?1109569935745509404" />
			     <br>OUR WATCHES
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/browseHome.jpg?15393444870327491100" />
	     </a>
     </div>
      <div class="left one-half small--one-whole bigCallout">
	     <a href="/custom">
		     <div class="hoverOver">
			     <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/design.png?5666156053256208091" />
			     <br>YOUR OWN
		     </div>
		     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/customHome.jpg?15393444870327491100" />
	     </a>
     </div>
     
     <div style="clear:both"></div>
  </section>

<main class="wrapper main-content medium-margin homeContainer" role="main">
	<section class="one-whole text-center big-margin" id="modifyCallout">
			<h1>Modify: The Best Custom Watch for Any Occasion</h1>
			<hr class="orangeDash-center" />
		<div class="grid__item three-quarters small--one-whole">
			<div class="left four-twelfths text-left  grey-text smallishText small--one-whole">
				<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/madeinsf.jpg?7109067912479877088"/>
				
				<!--		
				<p class="">Modify Watches help you "show your colors". Use Modify to</p>
					<ul>
						<li>class-it-up at a wedding</li>
						<li>bring your loved ones with you always, thanks to photo watches of your kids (or dog!).</li>
						<li>prove your loyalty to Cleveland sports even though you know you'll be disappointed</li>
						<li>match your funky polka dot pants</li>
					</ul>
					<p>Hand-assembled in San Francisco, Modify can create the watch that suits <b>you</b>.</p>
					-->
			</div>
			<div class="grid__item eight-twelfths small--one-whole" style="line-height: 0px;">
				<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/anyocc.jpg?13606147467442827756" class="lightBorder"/>
			</div>
		</div>
		<div class="right one-quarter small--one-whole" style="position: relative;">
			{% include 'instagram-feed' %}
			<div id="instaLogo">
				<a href="https://www.instagram.com/modifywatches/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0787/5183/files/igLogo.png?2891615229965963305" /></a>
			</div>
		</div>
	<div style="clear:both"></div>
</section>

	
	

<!-- Scripts -->

<script type="text/javascript">
	$(document).ready(function() {
		$("a.calloutLinks").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' Home Callout');
		});
	
	
	})
	
  analytics.page('Homepage');
</script> 