<!-- /templates/list-collections.liquid -->
{% include 'browse' %}
	 <section class="one-whole text-center" id="productCallouts">
				
 
	 		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/end-of-fall-sale" title="nhl watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/fall_sale-box.jpg?8684257038667264708" alt="nhl watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE THE SALE</button></div>
			
			 </a>			
			
		</div>
	 	
	 
		
<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/collections/the-best-sellers/" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/bestSellerGrid.jpg?12295946541253090737" alt="best selling watches"/>
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE BEST SELLERS</button></div>
			 	<div class="overLink">Best Sellers</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/major-league-baseball/World-Series" title="mlb Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/worldseries-box.jpg?8436910816817662425" alt="mlb watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE MLB</button></div>
	 
			 </a>
			
			
		</div>	
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/bca" title="BCA Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/acs_sale-box.jpg?15120746143025844136" alt="bca watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">HELP SUPPORT</button></div>
			<div class="overLink hide">Breast Cancer Awareness</div>
			 </a>			
			
		</div>		
<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/stainless-steel/" title="stainless watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/stainless-box.jpg?13336427168890227309" alt="stainless watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE STAINLESS</button></div>
			 <div class="overLink">Stainless Steel</div>
			 </a>
			
		</div>

		

	
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/united-states-of-america" title="election Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/election.jpg?17773521114817567945" alt="election watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE ELECTION</button></div>
			<div class="overLink">Election Watches</div>
			 </a>			
			
		</div>		
	
		
		
				<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/dark-and-spooky" title="Dark Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/darkGrid.jpg?12295946541253090737" alt="dark watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE DARK</button></div>
			 <div class="overLink">Dark & spooky</div>
			 </a>			
			
		</div>
			

		
				<!--
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/jasmine-becket-griffith" title="jasmine Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/jasminene-1.jpg?6277967967097748950" alt="jasmine watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE JASMINE</button></div>
			 <div class="overLink">Jasmine Becket Griffith</div>
			 </a>			
			
		</div>
		-->
		
		<!--
			{% include 'instantCart' %}	
		-->
<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/willie-cauley-stein" title="willie Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/willie-1.jpg?6277967967097748950" alt="willie watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE WILLIE</button></div>
			 <div class="overLink">Willie Cauley<span class="normalFont">-</span>Stein</div>
			 </a>			
			
		</div>
		
		 
			
		
		
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/nba/" title="nba Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/nba_box-1.jpg?649169151050657240" alt="nba watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE NBA</button></div>
			 <div class="overLink">NBA</div>
			 </a>			
			 
		</div>
		
		
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/nhl" title="nhl watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/nhl_box-1_0455afc7-fa05-4cc0-88fc-b67a1814982e.jpg?5978711973386965490" alt="nhl watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE NHL</button></div>
			 <div class="overLink">NHL</div>
			 </a>			
			
		</div>	
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/camilla-derrico" title="camilla Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/camilla.jpg?10362986903880350203" alt="camilla watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE CAMILLA</button></div>
			 <div class="overLink">Camilla <span style="text-transform: lowercase"> d</span><span class="normalFont">'</span>Errico</div>
			 </a>			
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/artists" title="Artists Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/artistsGrid.jpg?2179163499272004984" alt="artist watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE ARTISTS</button></div>
			 <div class="overLink">Artists</div>
			 </a>
			
		</div>

		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/live-nation-merchandise" title="Live nation Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/livenation_grid.jpg?13589546768507587417" alt="live nation watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE LIVE NATION</button></div>
			<div class="overLink">Live nation Merchandise</div>
			 </a>			
			
		</div>

		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/filters/" title="All Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/allWatchesGrid.jpg?3508976241336806019" alt="all watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE All</button></div>
			 <div class="overLink">All Watches</div>
			 </a>			
			 
		</div>
				<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/straps" title="All Straps" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/allStrapsGrid.jpg?3508976241336806019" alt="all straps"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE STRAPS</button></div>
			 <div class="overLink">All Straps</div>
			 </a>			
			
		</div>
		
		
		
		<div style="clear: both"></div>
		
 
	 </section>
	 <div class="one-whole medium-margin text-center">
		 <button class="btn--secondary"><a href="/pages/more-collections">View More of Our Favorite Collections</a></button>
	 </div>

<script>
	$(document).ready(function() {
	$('.productsGrid button').click(function(event){
		analytics.track('added instant cart product',
			{Name: $(this).attr('data-title')
		});
	
	
	//analytics.track('Added Product to Cart');
	  Shopify.queue = [];
	   Shopify.queue.push({
			 variant_id: $(this).attr('data-id'),
			 quantity: 1
    	});

	  event.preventDefault();
	  Shopify.moveAlong();
	  
	});
	$('.productsGrid a').click(function(event){
		analytics.track('viewed instant cart product',
			{Name: $(this).attr('data-title')
		});
	})
	Shopify.moveAlong = function() {
	  // If we still have requests in the queue, let's process the next one.
	  if (Shopify.queue.length) {
	    var request = Shopify.queue.shift();
	    Shopify.addItem(request.variant_id, request.quantity, Shopify.moveAlong);
	  }
	  // If the queue is empty, we will redirect to the cart page.
	  else {
	    // update cart value
	    shopifyUpdateCart();
	    analytics.track('Added Product to Cart');
	  //  blink('.header .cart');
	 //   addedButtonFeedback();
	  }
	};

	
	
	
	function shopifyUpdateCart() {
	  	Shopify.getCart(function(data){
		    count = data.item_count;
		    cart_el = '<span id="CartCount">' + count + '</span>';
		    cart_count = $('span#CartCount');
			//console.log(cart_count.text());
		    // if cart count doesn't exist then add it
		    if (cart_count.length == 0) {
		      $('a#cartIcon').append(cart_el);
		    }else{
		      cart_count.text("").text(count);
			}
			$('span#CartCount').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
			$('#cartAlert').slideDown(200).delay(2000).slideUp(200);
	   })
	  
	   	
	}		

			
		
})	
	
</script>





<script type="text/javascript">		
  analytics.page('All Collections');
</script> 