<!-- /templates/list-collections.liquid -->
{% include 'browse' %}
	 <section class="one-whole text-center" id="productCallouts">
		 
	 	<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/collections/the-best-sellers/" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/bestSellerGrid.jpg?12295946541253090737" alt="best selling watches"/>
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE BEST SELLERS</button></div>
			 	<div class="overLink">Best Sellers</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/end-of-season-sale" title="sale Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/sale-box.jpg?10571429147914071771" alt="end of the season watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">End of the season sale</button></div>
			
			 </a>			
			
		</div>

		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/bright-and-brave" title="Bright Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/brightGrid.jpg?12295946541253090737" alt="bright watches" />
			 <div class="buttonFrame" ><button class="btn--secondary">BROWSE BRIGHT</button></div>
			 <div class="overLink">bright & Brave</div>
			 </a>
			
		</div>
		 
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/dark-and-spooky" title="Dark Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/darkGrid.jpg?12295946541253090737" alt="dark watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE DARK</button></div>
			 <div class="overLink">Dark & spooky</div>
			 </a>			
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/artists" title="Artists Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/artistsGrid.jpg?2179163499272004984" alt="artist watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE ARTISTS</button></div>
			 <div class="overLink">Artists</div>
			 </a>
			
		</div>
		
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/stainless-steel/" title="stainless watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/stainlessGrid.jpg?5778314891586021437" alt="stainless watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE STAINLESS</button></div>
			 <div class="overLink">Stainless Steel</div>
			 </a>
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/illustration" title="Illustration Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/illustrationGrid.jpg?2179163499272004984" alt="illustration watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE ILLUSTRATION</button></div>
			 <div class="overLink">Illustration</div>
			 </a>
			
		</div>
	
	
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/minimal" title="Minimal Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/minimalGrid.jpg?2179163499272004984" alt="minimal watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE MINIMAL</button></div>
			 <div class="overLink">Minimal</div>
			 </a>
			 
		</div>

		
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/pattern" title="Pattern Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/patternsGrid.jpg?3508976241336806019" alt="pattern watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE PATTERNS</button></div>
			<div class="overLink">Patterns</div>
			 </a>			
			
		</div>
		
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/filters/" title="All Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/allWatchesGrid.jpg?3508976241336806019" alt="all watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE All</button></div>
			 <div class="overLink">All Watches</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/musicians" title="Music Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/musicGrid.jpg?17841002998033082672" alt="music watches"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE MUSIC</button></div>
			 <div class="overLink">musicians</div>
			 </a>
			
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/collections/straps" title="All Straps" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/allStrapsGrid.jpg?3508976241336806019" alt="all straps"/>
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE STRAPS</button></div>
			 <div class="overLink">All Straps</div>
			 </a>			
			
		</div>

	
		

	
	
		
				

		 
	 </section>







<script type="text/javascript">		
  analytics.page('All Collections');
</script> 