<!-- /templates/list-collections.liquid -->
{% include 'browse' %}
	 <section class="one-whole text-center" id="productCallouts">
	 <div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/collections/nba" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/nbaGrid_60eee7f4-509b-405f-a9b1-4dc8f4015e40.jpg?12114391885660684745" />
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE NBA</button></div>
			 	<div class="overLink">NBA</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/collections/major-league-baseball" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mlbGrid_44fa6d6f-eb43-4bda-aa70-20b4dad11f55.jpg?12114391885660684745" />
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE MLB</button></div>
			 	<div class="overLink">MLB</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/collections/nhl" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/nhl_grid_6383418a-ee59-47ac-a127-328857ff9bcc.jpg?12114391885660684745" />
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE NHL</button></div>
			 	<div class="overLink">NHL</div>
			 </a>			
			 
		</div>

	 	<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/pages/artists" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/artistgrid.jpg?12114391885660684745" />
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE ARTISTS</button></div>
			 	<div class="overLink">Artists</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/brands" title="Bright Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/brandsGrid.jpg?12114391885660684745" />
			 <div class="buttonFrame" ><button class="btn--secondary">BROWSE BRANDS</button></div>
			 <div class="overLink">Brands</div>
			 </a>
			
		</div>
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/influencers" title="Dark Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/influencersGrid.jpg?12114391885660684745" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE INFLUENCERS</button></div>
			 <div class="overLink">Influencers</div>
			 </a>			
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/musicians" title="NBA watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/musiciansGrid.jpg?12114391885660684745" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE MUSICIANS</button></div>
			 <div class="overLink">Musicians</div>
			 </a>
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/nonprofits" title="Artists Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/npgrid.jpg?12114391885660684745" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE NONPROFITS</button></div>
			 <div class="overLink">Nonprofits</div>
			 </a>
			
		</div>
				

		 
	 </section>







<script type="text/javascript">		
  analytics.page('All Partners');
 
	</script> 