<style>
    .storefrontHeader {
        background-image: url({{ 'storefront_Header.jpg' | asset_url }});
        background-size: cover;
        padding: 120px 0;
    }
    h2 {
        margin-bottom: 4px;
    }  
    .subCopy {
        margin-bottom: 20px;
    }  
    .press img {
        opacity: 0.6;
    }
        .press img:hover {
            opacity: 1;
        }
</style>

</main>
<!-- Main Header Section -->
<section class="grid--full large--one-whole" style="margin-bottom: -6px;">
    <img src="{{ 'storefrontform_Header.jpg' | asset_url }}" alt="Sign up today!" />
</section>

<!-- Wufoo Form Section -->
<section class="grid--full large--one-whole genSection">
    <!-- Wrapper Grid -->
    <main class="wrapper" role="main">        
        <h2 class="text-center subCopy">
            Thank you for signing up! We'll be in touch :)
        </h2>
    </main>
</section>
