<!-- /templates/list-collections.liquid -->
{% include 'browse' %}
	 <section class="one-whole text-center" id="productCallouts">


	 	<div class="grid__item one-third small--one-whole feature-tiles ">
			 <a href="/pages/artists" title="Best Sellers" class="calloutLinks">
				 
			 	<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/artistgrid.jpg?13600046483343824017" />
			 	<div class="buttonFrame"><button class="btn--secondary">BROWSE ARTISTS</button></div>
			 	<div class="overLink">Artists</div>
			 </a>			
			 
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/brands" title="Bright Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/brandsGrid.jpg?13600046483343824017" />
			 <div class="buttonFrame" ><button class="btn--secondary">BROWSE BRANDS</button></div>
			 <div class="overLink">Brands</div>
			 </a>
			
		</div>
			<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/influencers" title="Dark Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/influencersGrid.jpg?13600046483343824017" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE INFLUENCERS</button></div>
			 <div class="overLink">Influencers</div>
			 </a>			
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/musicians" title="NBA watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/musiciansGrid.jpg?13600046483343824017" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE MUSICIANS</button></div>
			 <div class="overLink">Musicians</div>
			 </a>
			
		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/nonprofits" title="Artists Watches" class="calloutLinks">
			<img src="https://cdn.shopify.com/s/files/1/0787/5183/files/npgrid.jpg?13600046483343824017" />
			 <div class="buttonFrame"><button class="btn--secondary">BROWSE NONPROFITS</button></div>
			 <div class="overLink">Nonprofits</div>
			 </a>
			
		</div>
				

		 
	 </section>







<script type="text/javascript">		
  analytics.page('All Partners');
 
	</script> 