<style><!--
@charset "UTF-8";
	p {
		font-size: 18px;
	}	
	.topStack h2 {
		font-weight: 300;
		font-style: italic;
	}
	.grid--full {
		margin-bottom: -6px;
	}
	.hugeMargin {
		margin-top: 20%;
		margin-bottom: 40px;
	}
	.priceTable {
		font-size: 20px;		
	}
		.priceTable b {
			font-size: 24px;
		}
	.priceTable div {
		margin: 5px auto;
	}
	button.btn--secondary {
		padding: 10px 40px;
		font-size: 18px;
	}
	@media (max-width: 767px) {
		.wrapper {
			max-width: 100%;
		}
		.hugeMargin {
			margin-top: 10%;
		}
		.priceTable {
		font-size: 14px;		
		}
			.priceTable b {
				font-size: 16px;
			}
		button.btn--secondary {
			font-size: 16px;
			padding: 6px 20px;
		}
  	}
--></style>
</main>        
	<div class="grid--full text-center topStack">
		<div class="grid__item large--one-half">
			<div class="imageCell"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/DesignYourOwnMetalAsset.jpg?17373280058522266437" alt="" /></div>
		</div>
		
		<div class="grid__item large--one-half">
			<div class="grid__item large--three-quarters push--large--one-eighth hugeMargin">
				<h1>CUSTOM METAL <br />WATCH</h1>
				<h2>$89.99 for a watch with 1 strap</h2>
				<hr class="orangeDash-center" />
				<p>For a more premium tier, we now offer custom metal watches. All the great reasons to get a custom watch apply here, wrapped in sleek metal casing with colorful nylon straps.</p>
				<button class="btn--secondary"><a href="/apps/qstomizer/?product=2666">Start Designing</a></button>
			</div>
		</div>
	</div>
	
	<div class="grid--full text-center topStack">
		<div class="grid__item large--one-half right">
			<div class="imageCell"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/DesignYourOwnAsset.jpg?12823995003195788476" alt="" /></div>
		</div>     
		
		<div class="grid__item large--one-half">
			<div class="grid__item large--three-quarters push--large--one-eighth hugeMargin">
				<h1>CUSTOM SILICONE <br />WATCH</h1>
				<h2>starts at $44.99 for a face</h2>
				<hr class="orangeDash-center" />
				<p>Design a custom watch for you, a group you're a part of, or any special occasion. Gifts for a wedding party? Fundraising tool for you non-profit? Photo of your adorable dog? Check, check and ... woof.</p>
				<button class="btn--secondary"><a href="/apps/qstomizer/?product=791">Start Designing</a></button>
			</div>
		</div>   
	</div>                                        		         
	
	<div class="grid--full text-center topStack">
		<div class="grid__item large--one-half">
			<div class="imageCell"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/CorporateGiftsAsset.jpg?12823995003195788476" alt="" /></div>
		</div>
		
		<div class="grid__item large--one-half">
			<div class="grid__item large--three-quarters push--large--one-eighth hugeMargin">
				<h1>CUSTOM FOR <br />YOUR TEAM</h1>
				<h2>for order quantities of 25+</h2>
				<hr class="orangeDash-center" />
				<p>We love designing for companies! We have great distribution partners (ASI &amp; PPAI) we can connect you with. Year-end gifts, employee store swag, recruiting ... contact us and we'll put you in touch with a partner so we can get you corporate gifts asap!</p>
				<h3><b>email: <a href="mailto:custom@modifywatches.com">custom@modifywatches.com</a></b></h3>
			</div>
		</div>  
	</div>                      		
	
	<div class="grid--full grid__item one-whole text-center light-bg genSection">
		<h1>Interested in partnering with us instead?</h1>
		Get sweet merch for your fans or to support a cause.<br />
		<button class="btn--secondary"><a href="https://modify.com/pages/storefronts">Apply Here</a></button>
	</div>
        
<main class="wrapper" role="main">
	<div class="grid grid__item one-whole text-center">
		<section class="genSection large--two-thirds push--large--one-sixth">
			<h1>NEED HELP WITH YOUR DESIGN?</h1>
			<hr class="orangeDash-center" />
			<p>Our designers will personally help you to make sure your custom watch comes out just the way you want it! We have separate rates for this hands-on service, please see the pricing chart below:</p>
		</section>
		<section class="priceTable genSection">			
			<div class="grid-uniform">
				<div class="grid__item one-fifth"></div>
				<div class="grid__item one-fifth"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/FaceIcon2_9b27e5c4-5ba8-4923-b39c-68e0e55d402b.jpg?17373280058522266437" alt="" /></div>
				<div class="grid__item one-fifth"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/WatchIcon_b57f9021-5a25-43c1-9309-808b97164328.jpg?17373280058522266437" alt="" /></div>
				<div class="grid__item one-fifth"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/SetIcon2_3fcb4433-8dc4-44c3-860f-117d887830dc.jpg?17373280058522266437" alt="" /></div>
				<div class="grid__item one-fifth"><img src="//cdn.shopify.com/s/files/1/0358/9733/files/MetalWatchIcon.jpg?18039445388011600535" alt="" /></div>
			</div>
			
			<div class="grid-uniform tableHeader">
				<div class="grid__item one-fifth"><b>Quantity</b></div>
				<div class="grid__item one-fifth"><b>Face</b></div>
				<div class="grid__item one-fifth"><b>Watch</b><br /><span class="smaller">(1 face + 1 strap)</span></div>
				<div class="grid__item one-fifth"><b>Set</b><br /><span class="smaller">(1 face + 2 straps)</span></div>
				<div class="grid__item one-fifth"><b>Metal Watch</b><br /><span class="smaller">(w/ 1 strap)</span></div>
			</div>
			
			<div class="grid-uniform">
				<div class="grid__item one-fifth"><b>1</b></div>
				<div class="grid__item one-fifth">$49.99</div>
				<div class="grid__item one-fifth">$59.99</div>
				<div class="grid__item one-fifth">$74.99</div>
				<div class="grid__item one-fifth">$89.99</div>
			</div>
			
			<div class="grid-uniform">
				<div class="grid__item one-fifth"><b>2-4</b></div>
				<div class="grid__item one-fifth">$43.99</div>
				<div class="grid__item one-fifth">$58.99</div>
				<div class="grid__item one-fifth">$73.99</div>
				<div class="grid__item one-fifth">$87.50</div>
			</div>
			
			<div class="grid-uniform">
				<div class="grid__item one-fifth"><b>5-9</b></div>
				<div class="grid__item one-fifth">$42.49</div>
				<div class="grid__item one-fifth">$55.49</div>
				<div class="grid__item one-fifth">$67.99</div>
				<div class="grid__item one-fifth">$84.99</div>
			</div>
			
			<div class="grid-uniform">
				<div class="grid__item one-fifth"><b>10-24</b></div>
				<div class="grid__item one-fifth">$41.99</div>
				<div class="grid__item one-fifth">$51.99</div>
				<div class="grid__item one-fifth">$61.99</div>
				<div class="grid__item one-fifth">$79.99</div>
			</div>
		</section>
		
		<div>
			<section class="genSection large--two-thirds push--large--one-sixth">
				<h2>Our custom design service</h2>
				<hr class="orangeDash-center" />
				<p>Pay the Design Fee to have our design team help you create a custom watch from scratch. We charge $150 for this service, unless you order 10 or more units, in which case the custom design service is complimentary. :)</p>
			</section>
			<section class="genSection large--two-thirds push--large--one-sixth">
				<h2>If you have trouble preparing a design...</h2>
				<hr class="orangeDash-center" />
				<p>Go ahead and still submit your form WITHOUT an attached design and we’ll get in touch!</p>
			</section>			
		</div>
		
		<hr />
		<h1 class="genSection">Get started designing your custom watch!</h1>
		<div id="wufoo-zrnsodv193kk2i" class="wooForm large--two-thirds push--large--one-sixth text-center"> 		
		<a href="https://modifywatches.wufoo.com/forms/zrnsodv193kk2i">online form</a>.<script type="text/javascript">// <![CDATA[
		var zrnsodv193kk2i;(function(d, t) {
								var s = d.createElement(t), options = {
								'userName':'modifywatches',
								'formHash':'zrnsodv193kk2i',
								'autoResize':true,
								'height':'1071',
								'async':true,
								'host':'wufoo.com',
								'header':'hide',
								'ssl':true};
								s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
								s.onload = s.onreadystatechange = function() {
								var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
								try { zrnsodv193kk2i = new WufooForm();zrnsodv193kk2i.initialize(options);zrnsodv193kk2i.display(); } catch (e) {}};
								var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
								})(document, 'script');
		// ]]></script>
		</div>
	</div>
