<style>
    li {
        font-size: 16px;
    }
    .cardBody {
        margin-top: 15%;
        margin-left: 7%;
    }
    button.btn--secondary {
		padding: 10px 40px;
		font-size: 18px;
	}
    strike {
        color: #ccc;
    }
    @media (max-width: 767px) {
        .cardBody {
            margin-top: 20px;
            margin-left: 15px;
        }
    }
</style>

</main>

<div class="grid--full">
    <div class="grid__item large--one-half medium--one-half">
        <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/wholesale.jpg?7923967767750773278" />
    </div>
    <div class="grid__item large--one-half medium--one-half">
        <div class="cardBody">
            <h1>Partner Wholesale Special</h1>
            <hr class="orangeDash" />
            <ul>
                <li>Minimum order of <b>25 units</b></li>
                <li>Products:</li>
                <ul>
                    <li>Silicone watches = <strike>$25</strike> <b>$20</b></li>
                    <li>Metal watches = <strike>$40</strike> <b>$30</b></li>
                    <li>Extra straps = <strike>$15</strike> <b>$7.50</b></li>
                </ul>
                <li>Shipping rates vary by volume and region. We will respond with a final invoice for payment.</li>
            </ul>
            
            <div class="medium-margin">
                <a href="https://docs.google.com/forms/d/1oZGWM-UEIK3sQjyheq2lff50Wwf7L_xq1DunVPpyP-Y/viewform"><button class="btn--secondary">Order Now</button></a>
            </div>
            
            <p class="rte"><i>Note: If you want to add any other Modify Watches to your order and take advantage of this special partner discount, go for it! Our new “<a href="/collections/basics">basics</a>”, <a href="/collections/nba">NBA</a> / <a href="/collections/major-league-baseball">MLB</a> / <a href="/collections/NHL">NHL</a> styles ... Whatever you want, it’s yours.</i></p>            
            
        </div>
    </div>
</div>
