<script>
  analytics.page('About');
</script>

<section class="grid genSection">
  <div class="grid__item large--one-half">
    <img src="{{ 'about_Team.jpg' | asset_url }}" alt="Team at Tacobell" />
  </div>
  <div class="grid__item large--one-half">
    <h4>Modify was founded in 2015</h4>
    <hr class="orangeDash" />
    <p>
      by the same team that started
      <a href="http://www.modifywatches.com">Modify Watches</a>
      in 2010. Cool, right? After five years of building a brand that focused on customization and great service, we realized that there was a *huge* gap in the market.
    </p>
  </div>
</section>

<section class="grid genSection">
  <div class="grid__item large--one-half">
    <h4>Delivering <u>great</u> merch is hard</h4>
    <hr class="orangeDash" />
    <p>
      for the little guys. See, we'd been partners with brands like the NBA, MLB, Livenation and created custom designs for dozens of Fortune-500 companies like Facebook, Google and Nike. But we kept hearing from nonprofits, social media influencers, artists and musicians that they wanted custom goods too.            
    </p>
  </div>
  <div class="grid__item large--one-half media-image">
    <img src="{{ 'ModifyLineup2.jpg' | asset_url }}" alt="History of great partnerships." />
  </div>
</section>

<section class="grid genSection">
  <div class="grid__item large--one-half">
    <img src="{{ 'ModifyStory_BG.jpg' | asset_url }}" alt="Merch for all!" />
  </div>
  <div class="grid__item large--one-half">
    <h4>We wanted to help our partners build their brands and raise funds</h4>
    <hr class="orangeDash" />
    <p>
      because we know that having great-looking gear is the best way for fans and supporters to tell the brand's story.          
    </p>
  </div>
</section>

<section class="grid genSection">
  <div class="grid__item large--one-half">
    <h4>And it's all free!</h4>
    <hr class="orangeDash" />
    <p>
      Yup, free. Our partners are the up-and-comers of the world, and they don't have time or money to waste. So we invested in all of the critical needs for a great merch site, in order to give it to our partners:         
    </p>
    <ol>
      <li>Design - Free.</li>
      <li>Inventory - We'll hold it.</li>
      <li>eCommerce - Partners are on our marketplace <i>and</i> they get a shop page on their site.</li>
      <li>Logistics - We <u>love</u> going to the post office.</li>
      <li>Make Customers Happy - That's the one thing we do best.</li>
    </ol>
  </div>
  <div class="grid__item large--one-half">
    <img src="{{ 'about_Storefront.jpg' | asset_url }}" alt="Merch for all!" />
  </div>
</section>

</main>   
<div class="grid__item large--one-whole text-center light-bg genSection rte">
  <div class="grid__item large--one-half push--large--one-quarter">
    <h4>
      We'd love to work with you
    </h4>
    <hr class="orangeDash-center">
    <p>
      Our mission is to build awareness and raise funds for influencers, nonprofits, artists and brands. If that sounds like something you might like - or something an organization you love might value - please let us know.        
    </p>
    <p>
      Fill out this <a href="/pages/storefronts" >form</a> and we'll have your shop up within the week!
    </p>
  </div>
</div>
<!-- Restart Global Wrapper -->
<main class="wrapper" role="main"> 