<!-- /templates/page.liquid -->
<div class="grid--uniform rte">
	<div id="FAQ">
	
	    <h1 class="text-center">Frequently Asked Questions</h1>
	
	    <div class="grid__item large--two-thirds medium--one-whole genSection">
	    	<h4>What are the watches made of and how big are they?</h4>
	    	
	    	<hr class="orangeDash"/>
	    	<div class="answer">
				<p>We have three styles of watches, all are unisex!</p>
				<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/watcharms.jpg?195012947537630714" /><br>
				<b>Sport Watch</b>
				<ul>
					<li>Stainless steel, scratch-resistant polycarbonate</li>
					<li>Super-soft, lightweight, and durable UV-coated silicone straps</li>
					<li>3ATM Water-Resistant</li>
					<li>Japanese Quartz Movement</li>
					<li>Watch Face (LxW): 38mm x 38mm</li>
					<li>Watch Band (LxW): 8.7in x 22mm</li>
				</ul>
				<b>Gunmetal Watch</b>
				<ul>
					<li>Stainless steel back, gunmetal alloy case</li>
					<li>Durable and comfortable dense woven nylon or whole grain leather bands</li>
					<li>5ATM Water-Resistant (Go swimming!)</li>
					<li>Japanese Quartz Movement</li>
					<li>Watch Face (LxW): 38mm x 38mm</li>
					<li>Watch Band (LxW): 9in x 20mm</li>
				</ul>
				<b>Stainless Steel Watch</b>
				<ul>
					<li>Stainless steel back, stainless steel case</li>
					<li>Durable and comfortable dense woven nylon or whole grain leather bands</li>
					<li>10ATM Water-Resistant (Go swimming!)</li>
					<li>Japanese Quartz Movement</li>
					<li>Watch Face (LxW): 38mm x 38mm</li>
					<li>Watch Band (LxW): 9in x 20mm</li>
				</ul>
	    	</div>
			<h4>Wait, how do you assemble these custom watches in San Francisco?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
				<p>We launched our print-on-demand capability in 2014 with a fun Kickstarter campaign [<a href="https://www.kickstarter.com/projects/aaronschwartz/mod-to-order-design-your-own-custom-modify-watches" target="_blank"> watch the video here</a>, so you can see our CEO before his hair was completely gray].  </p>
	    	</div>
			
			<h4>Double Wait … I can get custom watches?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
		    	<a href="/custom"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/lineup.jpg?2134478847100506287" /></a>
			<p>Yup! You can put your photo on a watch, make a custom one for your company or do anything else with our really simple <a href="/custom">custom watch tool</a>.</p>
	    	</div>
			
			
			<h4>Are Modify Watches water-resistant?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/wet.jpg?1478940626401698923" />
			<p>Each of our styles has a different grade of water resistance. Personally, we think they all grade out as “A++” but technically
			</p>
			<ul>
			<li>Sport: 3ATM, which is splash-proof</li>	
			<li>Gunmetal: 5ATM, which means you can swim</li>
			<li>Stainless Steel: 10ATM, which means you can swim REALLY fast, Mr. Phelps
			Don’t swim with the leather strap. That’s nuts.</li>
			</ul>
	    	</div>
			
			<h3>Where do I find official watches from my favorite teams?</h3> 
			<hr class="orangeDash"/>
	    	<div class="answer">
			<ul>
			<li><a href="/collections/major-league-baseball">Official MLB Watches</a></li>
			<li><a href="/collections/nba">Official NBA Watches</a></li>
			<li><a href="/collections/hnl">Official NHL Watches</a></li>
			<li><a href="/collections/major-league-soccer">Official MLS Watches</a></li>
			And ….
			<li><a href="/collections/borderlands">Official Borderlands Watches</a></li>
			<li><a href="/collections/xcom2">Official XCom Watches</a></li>
			<li><a href="/collections/tetris">Official TETRIS Watches</a></li>
			<li><a href="/collections/garfield">Official Garfield Watches</a></li>
			<li><a href="/collections/popeye">Official Popeye Watches</a></li>
			<li><a href="/collections/betty-boop">Official Betty Boop Watches</a></li>
			</ul>
	    	</div>
			<h4>What do I do if my battery dies?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>We've always been annoyed having to find batteries when our watch stops ticking. So we decided to help you out and send you the correct one. Of course, you shouldn't need to switch batteries for a while, but if you do just e-mail <a href="mailto:help@modifywatches.com">help@modifywatches.com</a> and we'll send one sealed with a loving kiss. If you're desperate for a new battery within 6 minutes, Sony number 364/SR621SW will work great! </p>
			
			<p>Oh yeah, these are on the house :)</p>
	    	</div>
			<h4>I’m handy and want to change the battery myself</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>Okay Mr. or Ms. or Mrs. or Dr. or Queen or Sir MacGruber.</p> 
			
			<p>To change a battery, all you need is a battery (Sony number 364/SR621SW - we’ll send to you if you need it!), and a small screwdriver—like the one you can find in an eyeglass repair kit sold at most drug and grocery stores. Size “00” is the winner. Just unscrew the screws on the back, remove the metal cover, gently pull up the plastic cover, and replace the battery!</p>
	    	</div>
			<h4>Can I return or exchange my watch?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>Not a problem! E-mail us (<a href="mailto:help@modifywatches.com">help@modifywatches.com</a>) and let us know if you’d like to return or exchange your order. Please make sure to provide your order number … and why you want to switch. That last part isn’t mandatory, we’re just always looking for ways to improve, and would really appreciate your feedback!</p>
	    	</div>
			<h4>How long is the 1-year warranty?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>365 days. 366 during leap year!</p>
	    	</div>
			<h4>Okay, jerk. What does the 1-year warranty cover?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>That’s a great question! Our warranty covers defective watches from the date of shipment. Should the watch stop working properly, we will fix it or send you a new one. Please contact us if your battery stops, and we’ll send you a new one (or do the switch on the house!!)</p>
			
			<p>Watches are not considered defective if you cause physical harm to it. Basically, if the watch stops working on its own, we got your back. If you run it over in your Hummer, we’ll consider replacing it but only if you send us a sweet video.</p>
			<p>Regardless, just send us an email at <a href="mailto:help@modifywatches.com">help@modifywatches.com</a>. We’d love to help you with battery swaps for the life of the watch! </p>
	    	</div>
			<h4>What are my domestic shipping options?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<b>We offer multiple shipping options in the U.S.</b>
			<ul>
			<li>Standard delivery will arrive in 9-13 business days after you complete your order and costs $3.99. Standard shipping does have tracking, and is sent via the United States Postal Service [USPS]. Typically your tracking number will be live in the USPS system 48 hours after you receive your shipment confirmation email from us.</li>
			<li>You can also choose Expedited Shipping for a flat $5.99 [we ship via USPS Priority]. This comes with tracking and will arrive within 5-8 business days after you complete your order.</li>
			</ul>
			Still have questions? Email us at <a href="mailto:help@modifywatches.com">help@modifywatches.com</a>
	    	</div>
			<h4>What are my international shipping options?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>We do ship internationally! Shipping to Canada is $8, all other Non-U.S. countries' rates below:</p>
			<ul>
			<li>Up to 1.25 lbs - $15.00</li>
			<li>1.25 - 7 lbs - $50.00</li>
			<li>7 - 20 lbs - $100.00</li>
			</ul>
			<p>*All international orders are shipped via our awesome logistics partner APC, and can ONLY be tracked to your doorstep here. Please allow up to 20 business days for international shipments. You may be subject to customs charges upon receipt of your product which vary by country.</p>
			<ul>
			<li>APC will hand off the package to your country's Postal Authority for delivery, so keep an eye out for them! (i.e. Canada will be delivered by Canada Post, UK by Post Office, etc.)</li>
			<li>If you have specific shipping questions, or need expedited international shipments, email us at help@modifywatches.com</li>
			</ul>
	    	</div>
			<h4>Can I combine coupon codes?</h4>
			<hr class="orangeDash"/>
	    	<div class="answer">
			<p>Thanks for asking, friend. Unfortunately, you cannot combine coupon codes. Sometimes we have a super sale, and sometimes there is a thank-you code for $10 off a future order. But as a small business, we can’t afford massive discounting like the big guys. Thanks for your understanding!</p>
	    	</div>
	    </div>
	</div>
</div>
<script>
  $(document).ready(function() {
    
       analytics.page('FAQ');

  // Get Icons
  //  var icons = $('#FAQ').accordion( "option", "icons" );
  });
</script>
