</main>

    <div class="grid__item one-whole ">
       <div class="grid__item one-half text-center small--one-whole medium-padding mobile-padding">
			<img src="{{ 'dropshipper.jpg' | file_url }}" />
		
		</div>
		<div class="grid__item large--two-fifths medium--one-half text-left small--one-whole big-padding mobile-padding">
			<h1>Amazing White-Label Watches</h1>
			<ul class="medium-padding dropshipul">
				<li>No risk, no inventory with drop-shipping</li>
				<li>Professional design help (for free!)</li>
				<li>Your designs can live on your site and ours</li>
				<li>Bulk discounts available!</li>
			</ul>
			 <div class="one-whole text-left medium-margin small--text-center">
		    <a class="btn--secondary" href="#dsForm">
			    Create Your White-Label Watches Today!
		    </a>
	    </div>	
		</div>
    </div>

 <main class="wrapper main-content medium-margin " role="main">
    <div class="one-whole">
	   
	    
	    <div class="grid__item one-whole text-center mobile-padding">
	    	<h1>Three Ways to Sell Your Watches</h1>
	    </div>
	     <div class="grid__item one-whole medium-margin">
	    <div class="grid__item one-third small--one-whole mobileMargin mobile-padding">
		     <h3>Dropship from your site</h3>
		     <ul>
			    <li>No risk: All watches are made on demand</li>
				<li>Sell custom watches on your site</li>
				<li>50% margin</li>
				<li>Free design help (or we can give you templates)</li>
				<li>Weekly invoicing</li>
		     </ul>   	     
		</div>
	    <div class="grid__item one-third small--one-whole mobileMargin mobile-padding">
		      <h3>Sell on ModifyWatches.com</h3>
			  <ul>
				  <li>No risk: All watches are made on demand</li>
				  <li>Your own personal page on our site</li>
				  <li>20-30% revenue share</li>
				  <li>Free design help (or we can give you templates)</li>
				  <li>Monthly payouts</li>
			  </ul>
	     </div>
	      <div class="grid__item one-third small--one-whole mobileMargin mobile-padding">
		      <h3>Bulk purchase / Wholesale</h3>
		     <ul>
				  <li>25-unit MOQ / style</li>
				  <li>> 50% margin</li>
				  <li>Free design help (or we can give you templates)</li>
		     </ul>
	     </div>
	     </div>
	</div>
	<div class="grid__item one-whole text-center small-margin mobile-padding">
		<h2>Some of Our Partners</h2>
	    <div class="grid__item one-third small--one-whole mobile-padding">
		   <a href="http://shop.mlb.com/search/modify%20watches" target="_blank">
		    	<img src="{{ 'dirt.jpg' | file_url }}" />
				<h4>MLB</h4>
		   </a>
	    </div>
	    <div class="grid__item one-third small--one-whole mobile-padding">
		    <a href="http://www.armtheanimals.com/collections/watches" target="_blank">
		   	 <img src="{{ 'ata.jpg' | file_url }}" />
		   	 <h4>Arm The Animals</h4>
		    </a>
	    </div>
	    <div class="grid__item one-third small--one-whole mobile-padding">
		     <a href="http://sprestondesigns.com/collections/modify-watches" target="_blank">
			 	<img src="{{ 'spreston.jpg' | file_url }}" />
			 	<h4>S. Preston</h4>
		     </a>
	    </div>
	</div>
	<div class="grid__item one-whole text-center huge-padding mobile-padding" id="dsForm">
		<div class="grid__item large--one-half medium--one-whole small--one-whole push--large--one-quarter">
	   <div id="wufoo-rw234hr1i73hwt">
			Fill out my <a href="https://modifywatches.wufoo.com/forms/rw234hr1i73hwt">online form</a>.
			</div>
			<script type="text/javascript">var rw234hr1i73hwt;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'modifywatches',
			'formHash':'rw234hr1i73hwt',
			'autoResize':true,
			'height':'1024',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { rw234hr1i73hwt = new WufooForm();rw234hr1i73hwt.initialize(options);rw234hr1i73hwt.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>

	    
	    
	</div>

