<section class="grid--full large--one-whole">
  <div class="grid__item large--two-thirds medium--one-whole  text-left huge-margin">
    <h1>Create Your Storefront</h1>


    <div id="wufoo-q13rczh0102fnbc">Fill out my <a href="https://modifywatches.wufoo.com/forms/q13rczh0102fnbc">online form</a>.</div>

    <script type="text/javascript">
      $(window).load(function() {
	  	function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
	  	var streak_box_name = getParameterByName('streak_box_name');
	  	console.log(streak_box_name);
	  	
        var formPage = -1;   
        {% if customer.id %}
          var segment_user_id = {{ customer.id }};
        {% else %}
          var  segment_user_id = analytics.user().anonymousId();
        {% endif %}    

        var q13rczh0102fnbc;(function(d, t) {
          var s = d.createElement(t), options = {
            'userName':'modifywatches',
            'formHash':'q13rczh0102fnbc',
            'autoResize':true,
            'height':'1190',
            'async':true,
            'host':'wufoo.com',
            'header':'hide',
            'defaultValues':'Field2192='+segment_user_id+'&Field2194='+streak_box_name,
            'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { q13rczh0102fnbc = new WufooForm();q13rczh0102fnbc.initialize(options);q13rczh0102fnbc.display(); } catch (e) {}

              $("#wufooFormq13rczh0102fnbc").on("load", function () {

                formPage++; analytics.track('Completed Storefront Creation Step '+ formPage);
              })

            };
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');

        })

    </script>

  </div>
</section>

<script type="text/javascript">
  analytics.page('Create Storefront Form');
</script>