</main>
<!--
<div class="grid--full">
    <div class="grid__item one-half">
        <img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/mod_watch.jpg?15765700281235859409" alt="Mod Watch" />
    </div>
    
    <div class="grid__item one-half right">
        <h1>The Mod</h1>
        <p>Modify Watches are custom, colorful, durable and interchangeable timepieces. All of our watches are Modular (get it???), meaning that you can mix-and-match our watch faces with our watch bands. What does that mean for you? Well, if you own 3 watches, you really get *9* combinations. So you can Show Your Colors (all caps, it's our tagline, hope you like it), whether you want to dress up, dress down, or dress funky, fly, sporty, nerdy, etc.</p>
        <p>Oh. One more thing. As of early 2014, all of our new watches are <a href="https://www.youtube.com/watch?v=XGirTilH0FU">hand-assembled in San Francisco</a>. We're proud members of SFMade</p>
        <a href="/collections/best-sellers"><button class="btn--secondary">Shop Best Sellers</button></a>
    </div>
</div>

<div class="grid--full">
    <div class="grid__item one-whole">
        <img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/face_watch.jpg?15765700281235859409" alt="Face Watch" />
    </div>
    
    <div class="grid__item one-whole text-center">
        <h1>Hundreds of Designs</h1>
        <p>Since 2010 we've designed literally thousands of watches. If you think about all of the combinations with the 35+ strap colors we have launched, we're talking 10,000+ options that you could have if you owned a lot of our watches (and/or stole everything from our archives ...)</p>
        <p>Practically, what does this mean? Well, we have designs for all of your favorite pro sports teams from the NBA, NHL, MLS and Major League Baseball. We've collaborated with artists, non-profits and musicians big and small. We have watches for all of your favorite holidays (e.g. Flag Day).</p>
        <a href="/collections/watch-faces"><button class="btn--secondary">Shop All Faces</button></a>
    </div>
</div>

<div class="grid--full">
    <div class="grid__item one-half right">
        <img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/meet_bow.jpg?15765700281235859409" alt="Watch rainbow" />
    </div>
    
    <div class="grid__item one-half">
        <h1>Comfortable, colorful...</h1>
        <p>So, it turns out that watches are worn. On your body. Every day. We get that and we have made Modify Watches as soft and durable as possible. And colorful (even if the "color" you want is black or navy or slate or something more conservative). Our watch bands are made from a soft and durable silicone. It's also food-grade ... you should see the number of photos of baby-teething fans have sent over the years.</p>
        <a href="/collections/straps"><button class="btn--secondary">Shop All Straps</button></a></div>
    </div>
</div>

<div class="grid--full">
    <div class="grid__item one-half">
        <img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/mod_watch.jpg?15765700281235859409" alt="Mod Watch" />
    </div>
    
    <div class="grid__item one-half">
        <h1>Comfortable, colorful...</h1>
        <p>So, it turns out that watches are worn. On your body. Every day. We get that and we have made Modify Watches as soft and durable as possible. And colorful (even if the "color" you want is black or navy or slate or something more conservative). Our watch bands are made from a soft and durable silicone. It's also food-grade ... you should see the number of photos of baby-teething fans have sent over the years.</p>
        <a href="/collections/straps"><button class="btn--secondary">Shop All Straps</button></a></div>
    </div>
</div>
-->
<div class="wrap">
<div class="mtm-main">
<section class="mod left"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/mod_watch.jpg?15765700281235859409" alt="Mod Watch" />
<div>
<h1>The Mod</h1>
<p>Modify Watches are custom, colorful, durable and interchangeable timepieces. All of our watches are Modular (get it???), meaning that you can mix-and-match our watch faces with our watch bands. What does that mean for you? Well, if you own 3 watches, you really get *9* combinations. So you can Show Your Colors (all caps, it's our tagline, hope you like it), whether you want to dress up, dress down, or dress funky, fly, sporty, nerdy, etc.</p>
<p>Oh. One more thing. As of early 2014, all of our new watches are <a href="https://www.youtube.com/watch?v=XGirTilH0FU">hand-assembled in San Francisco</a>. We're proud members of SFMade</p>
<a href="/collections/best-sellers"><button>shop best sellers</button></a></div>
</section>
<section class="center"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/face_watch.jpg?15765700281235859409" alt="Face Watch" />
<div>
<h1>Hundreds of Designs</h1>
<p>Since 2010 we've designed literally thousands of watches. If you think about all of the combinations with the 35+ strap colors we have launched, we're talking 10,000+ options that you could have if you owned a lot of our watches (and/or stole everything from our archives ...)</p>
<p>Practically, what does this mean? Well, we have designs for all of your favorite pro sports teams from the NBA, NHL, MLS and Major League Baseball. We've collaborated with artists, non-profits and musicians big and small. We have watches for all of your favorite holidays (e.g. Flag Day).</p>
<a href="/collections/watch-faces"><button>shop all faces</button></a></div>
</section>
<section class="right straps"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/meet_bow.jpg?15765700281235859409" alt="Watch rainbow" />
<div>
<h1>Comfortable, colorful...</h1>
<p>So, it turns out that watches are worn. On your body. Every day. We get that and we have made Modify Watches as soft and durable as possible. And colorful (even if the "color" you want is black or navy or slate or something more conservative). Our watch bands are made from a soft and durable silicone. It's also food-grade ... you should see the number of photos of baby-teething fans have sent over the years.</p>
<a href="/collections/straps"><button>shop all straps</button></a></div>
</section>
<section class="center mid-l"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/clock_rain.jpg?15765700281235859409" alt="Waterproof" />
<div>
<h1>Out in the rain</h1>
<p>All Modify Watches are splash-proof. Can you wear them in the rain? Yup. Doing the dishes? Yup. Showering? Our lawyer wants us to say no but we'll say yup.</p>
<p>What really matters is that we have A++ service. So, while you cannot go deep-sea-diving in a Modify Watch, just know that if you make that mistake and find your timepiece water-logged, we'll do everything we can to get you a working one. Check out the 98%+ happiness rating on our <a href="http://modifywatches.com/pages/wow" target="_blank">WOW wall</a> to get a feel for how you can expect to be treated.</p>
</div>
</section>
<section class="mid-r center"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/watch_size.jpg?15765700281235859409" alt="Sizes" />
<div>
<h1>Two sizes</h1>
<p>We sell Modify Watches in 2 sizes, "Sport" and "Classic". These are both unisex, it's more about the size of your wrist (and how much you like *big* watches). The Sport size is a normal watch, about 38mm. The Classic is closer to a 42mm timepiece. Get the Classic. If you're not sure, or you're buying a gift for someone, we always recommend the Sport size. But if you have big wrists or want to make a big statement? The Classic is for you.</p>
</div>
</section>
<section class="center"><img src="//cdn.shopify.com/s/files/1/0787/5183/t/3/assets/custom_new.jpg?15765700281235859409" alt="Custom Watches" />
<div>
<h1>Custom Prints</h1>
<p>If you've read this far, you know that we make custom watches. Why does that matter? Because, we don't feel like telling you what to wear. From day-one, we have built Modify around the idea that YOU should tell us what watches to make. Here are a few examples of custom watches fans have made:</p>
<ul class="custom-list">
<li><strong>As a gift (or for themselves)</strong>: Photos of a family member, dog, vacation house, etc.</li>
<li><strong>Groups, events and occassions</strong>: Bridesmaids watches;</li>
<li><strong>Non-profits and schools</strong>: Fundraising tools</li>
<li><strong>Pro sports teams</strong>: General merchandise ... and even Gift with Purchase opportunities</li>
<li><strong>Companies</strong>: Gifts for new recruits; year-end gifts during a holiday party; thank-yous to clients and investors.</li>
</ul>
<a href="/pages/custom"><button>design your own</button></a>
<p> </p>
</div>
</section>
</div>
</div>

<div class="clear"></div>

<main class="wrapper">
    
<style><!--
@charset "UTF-8";

/* UNDO DEFAULT PAGE STYLING */
/* ========================= */

/* Make sure we take up the whole width of the page */
body > .container {
  width: 100%;
}

/* Center the footer */
.footer > .container {
  max-width: 960px;
}

/* ========================= */

.wrap img {
  height: auto;
  float: left;
}

.wrap {
  font-size: 1.25rem;
}

section {
  position: relative;
  width: 100%;
  padding-bottom: 5%;
  font-family: "Lato";
  font-weight: 300;
}

.wrap h1 {
  color: #050505;
  font-weight: 300;
  font-size: 5vh;
  margin: 20px 0 10px 0;
}

.wrap,section,h1,p {
  width: 100%;
  float: left;
}


.left div,.right div {
  float: left;
}

.right div {
  left: 0;
}

.right img {
  float: right;
}

.center img {
  width: 100%;
}

.center div {
  text-align: center;
  margin: auto;
}

ul.custom-list {
  list-style-type: none;
  text-align: left;
  font-size: 2vh;
  width: 60%;
  margin: 0 auto;
}

.wrap button {
  text-transform: uppercase;
  color: #ff8e04;
  border: 2px solid #ff8e04;
  background: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 2vh;

/*
  text-transform: uppercase;
  color: #ff8e04;
  border: 1px solid #ff8e04;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 2vh;
*/
}
  .wrap button:hover {
    background-color: #ff8e04;
    color: #fff;
  }
    .wrap button:active {
      background-color: #333;
      border: 2px solid #333;
      color: #fff;
      -webkit-transition: none;
      transition: none;
    }

@media all and (min-width: 300px) and (max-width: 980px) {
  .left img,.right img {
    width: 50%;
  }
  .left div,.right div {
    width: 46%;
  }
  .left div {
    right: 3%;
  }
  .right div {
    left: 3%;
  }
  .center div {
    width: 90%;
  }
  h1 {font-size: 2rem;}
  p, button, ul {font-size: 0.75rem;}
  
  .mod img {
    margin-top: 40%;
    margin-left: -20%;
    width: 70%;
  }
  .mod div {
    width: 50%;
  }
  section {
    margin-bottom: 10%;
  }
  .wrap ul {
    width: 100%;
  }
}

@media only screen and (min-width: 980px) {
  .left img,.right img {
    width: 40%;
  }
  .left div,.right div {
    width: 40%;
  }
  .left div {
    left: 45%;
  }
  .right div {
    left: 10%;
  }
  .center div {
    width: 60%;
  }
  .mid-r,.mid-l {
    width: 50%;
  }
  .mid-r div,.mid-l div {
    text-align: left;
    width: 60%;
    margin: 0;
  }
  .mid-l div {
    margin-left: 35%;
  }
  .straps img {
    width: 25%;
    height: auto;
  }
  .left div,.right div {
    float: left;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .mod div {
    height: 80%;
  }
}
--></style>