<style>
  .nlp {
    padding-left: 0;
  }
    .nlp img {
      width: 100%;
    }
</style>
<script>
  analytics.page('About');
</script>

</main>
  <img class="grid--full one-whole" src="https://cdn.shopify.com/s/files/1/0358/9733/files/thanksBanner.jpg?4969994539342325461" alt="Modify Team" />
<main class="wrapper" role="main">
  
<div class=" one-whole genSection">      
  
  <div class="grid__item">
	   <div class="grid__item large--one-half medium-margin rte right">
      <h1>About</h1>
      <hr class="orangeDash" />
      <p>  
       Modify Watches are the best custom watches on the market [non-diamond edition]. Check out our best features and you’ll know you wanna ask us on a date. </p>
<p><b>Colorful:</b> Seriously. We’ve turned the color wheel into the color matrix</p>
<p><b>Diversity:</b> You can choose from three styles, Sport, Gunmetal and Stainless Steel</p>
<p><b>Interchangeability:</b> All Modify Watches are modular (creative name, right?). You can mix-and-match our straps to change your look on a daily basis</p>
<p><b>Custom:</b> If you don’t love any of our thousands of designs, what about <a href="/custom">creating your own?</a></p>
<p><b>Impactful:</b> We partner with nonprofits and artists and influencers, enabling them to sell custom watches and raise money!</p>
<p><b>Our mom thinks we’re great.</b> 'Nuff said.</p>
	
    </div>

	  
    <div class="grid__item large--one-half media-image nlp">
      <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/biggroup.jpg?16541258465832105324" alt="Awesome Watches, Awesome Brands." />
    </div>
  
       
  </div>
  {% comment %}
  <div class="grid__item">
    <div class="grid__item large--one-half media-image nlp">
      <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/modipartners.jpg?5498775098391303516" alt="History of great partnerships." />
    </div>
    
    <div class="grid__item large--one-whole  big-margin rte">
      <h1>Wait, I can partner with Modify?</h1>
      <hr class="orangeDash" />
      <p>
        YES! Anyone with an audience can use Modify Watches to help raise funds for your organization or build awareness. Learn more <a href="/pages/collaboration-form">here</a>. 
        Delivering great merchandise is hard for the little guys. See, we'd been partners with brands like the NBA, MLB, Livenation and created custom designs for dozens of Fortune-500 companies like Facebook, Google and Nike. But we kept hearing from nonprofits, social media influencers, artists and musicians that they wanted <a href="/pages/custom">custom watches</a> too.
        Because we know that having great-looking gear is the best way for fans and supporters to tell the brand's story.       
      </p>
    </div>
  </div>
{% endcomment %}
  <div class="grid__item">
       
    <div class="grid__item large--one-half medium-margin rte" style="padding-right: 15px;">
      <h1>History</h1>
      <hr class="orangeDash" />
      <p>
       Two of us began talking about watches waaaay back in April, 2010 (when Twitter and Zynga were h.o.t.t. HOT) and finally launched 3 months later after an incredibly difficult and daring journey.


      </p>
      <p>
        Since the start, we’ve been driven by two core principles
        <ol>
          <li>We do not want your purchase to be another transaction, but rather the start of a relationship. We expect you to tell us what to do better, and you should expect an awesome product with even better service.
</li>
          <li>We're pretty good at watch design; but we're even better at listening. Our fans tell us what products to make (stainless steel watch!) and what designs to add. So, keep the feedback coming and we’ll keep improving #ShowYourColors
</li>
        </ol>
        We're serious about helping you build products you l-o-v-e, so we give every "ModiFamily" member (that's you) a voice—go ahead, join our community of 100,000+ who vote on designs on  <a href="https://www.facebook.com/ModifyWatches">Facebook</a>, <a href="https://www.instagram.com/modifywatches/">Instagram</a> and <a href="https://twitter.com/modifywatches">Twitter</a>. 
      </p>
    </div> 
     <div class="grid__item large--one-half media-image nlp right">
     <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/tacoteam.jpg?4969994539342325461" alt="Awesome Watches, Awesome Brands." />
    </div>
  </div>
<div class="grid__item one-third small--one-whole">
	      <img src="https://cdn.shopify.com/s/files/1/0358/9733/t/3/assets/agary.jpg" />
      </div> 
	  <div class="grid__item two-thirds small--one-whole">
	      <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/DSC05059e2.jpg?15643294665276448350" />
      </div> 
</div>
