<style>
  #FAQ h5 { cursor: pointer; }
</style>

<!-- /templates/page.liquid -->
<div class="grid--uniform rte">
  <div id="FAQ">

    <h1 class="text-center">Frequently Asked Questions</h1>

    <div class="grid__item large--one-half medium--one-whole genSection">
      <h2>Questions about your order?</h2>

      <h5> + Metal and Sport Watch Dimensions?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Modify is your new full service merchandise platform. You get an entire operation including design, web, customer shipping and customer support to make sure your customers receive A+ service and quality products. This means you keep doing what you do best, whether it's fighting for a cause, painting a new art piece, or recording a new track for your next album.            
        </p>
      </div>
      
      <h5> + What are the watches made of?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Modify is your new full service merchandise platform. You get an entire operation including design, web, customer shipping and customer support to make sure your customers receive A+ service and quality products. This means you keep doing what you do best, whether it's fighting for a cause, painting a new art piece, or recording a new track for your next album.            
        </p>
      </div>

      <h5> + What are my domestic shipping options?</h5>
      <div>
        <hr class="orangeDash">
        <p>We offer multiple shipping options in the U.S.</p>
        <ul>
          <li>Standard delivery will arrive in 3-6 business days after you complete your order and costs $3.99. Standard shipping does have tracking, and is sent via the United States Postal Service [USPS]. Typically your tracking number will be live in the USPS system 48 hours after you receive your shipment confirmation email from us.</li>
          <li>You can also choose Expedited Shipping for a flat $5.99, we ship via USPS Priority. This comes with tracking and will arrive within 5-7 business days after you complete your order.</li>
        </ul>
        <p>Still have questions? Email us at <a href="mailto:help@modify.com">help@modify.com</a> .</p>
      </div>

      <h5> + Do you ship internationally? How much does it cost? How long does it take?</h5>
      <div>
        <hr class="orangeDash">
        <p>We do ship internationally! Shipping to Canada is $8, all other Non-U.S. countries' rates below:</p>
        <ul>
          <li>Up to 1.25 lbs - $15.00</li>
          <li>1.25 - 7 lbs - $50.00</li>
          <li>7 - 20 lbs - $100.00</li>
        </ul>
        <p>*All international orders are shipped via our awesome logistics partner APC, and can ONLY be tracked to your doorstep <a href="https://dm.mytracking.net/apc/dmportalv2/externaltracking.aspx">here</a>. Please allow up to 20 business days for international shipments. You may be subject to customs charges u pon receipt of your product which vary by country.*</p>
        <ul>
          <li>APC will hand off the package to your country's Postal Authority for delivery, so keep an eye out for them! (i.e. Canada will be delivered by Canada Post, UK by Post Office, etc.)</li>
          <li>If you have specific shipping questions, or need expedited international shipments, email us at <a href="mailto:help@modify.com">help@modify.com</a></li>
        </ul>
      </div>  

      <h5> + Do you have a warranty?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          The 1 year warranty covers defective products from the date of shipment. For example, should your watch stop working properly, we will send you a new one. Contact us if the battery stops, we've stocked extras so you don't have to go on a pesky battery hunt! Watches are not considered defective if you cause physical harm to it. Basically, if the watch stops working on its own, we got your back. Simply send us an email to <a href="mailto:help@modify.com">help@modify.com</a> and we will gladly walk you through the process.
        </p>
      </div>

      <h5> + What is your return policy?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          If there are any defects with your products, we got your back. Return, refund, exchange, we'll make it up to you.
        </p>
        <p>
          Since all of our products are printed on demand when you order them, we cannot accept returns unless products are defective. We hope to update this policy in the near-future but as a small startup we don't have the means to offer returns on non-defective custom products.
        </p>
      </div> 

      <h5> + What if I receive a defect?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          We're terribly sorry if you received a defective product and hope you'll allow us to make amends. Please reach out to us at <a href="mailto:help@modify.com">help@modify.com</a> and we'll see about getting you a replacement, ASAP!
        </p>
      </div>                                                 
    </div>

    <div class="grid__item large--one-half medium--one-whole genSection">
      <h2>Questions about selling?</h2>

      <h5> + Who do you work with?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Modify works with influencers, causes, artists, musicians, athletes, eSports teams, and more. Basically, anyone who has a passionate fanbase, but doesn't have the money or time to invest in merchandise. We'll do all of the dirty work, so you can build your brand and raise funds for your cause!
        </p>
      </div>

      <h5> + What do you mean, "No Cost?"</h5>
      <div>
        <hr class="orangeDash">
        <p>
          We're for serious. All you need to do is send a logo (or photo or ...) and we'll design an entire collection for you. We manufacture t-shirts, phone cases, watches, mugs, hoodies and a dozen more products. Adding more every week. Our secret is that we do not sit on "finished" inventory; everything is made on demand when one of your fans buy it. They get a great product which they can use to build your brand, while you get a 20% revenue share ... 30% if you're a nonprofit or want us to donate your proceeds!
        </p>
      </div>

      <h5> + Why print-on-demand?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Print-on-demand technology has advanced a lot in recent years, and the quality is great. While each individual piece costs a bit more to produce (versus committing to buying 1,000 of a single design), print-on-demand production means that you don't have to take any risk until someone buys your design!
        </p>
      </div>

      <h5> + Can I use and design or logo I want?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Nope! We respect trademarks. Please only submit original art, or works you have the rights to sell. We take this very seriously, and we hope the entire ModiFamily does too!
        </p>
      </div>

      <h5> + How much do I get from each sale?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          20% of the revenue of every sale goes to you! If you're a nonprofit - or if you want to donate your proceeds to a nonprofit - you get 30%. Not profit. Not margin. But revenue. Sell a shirt for $25? You get $5 (or $7.50). Your fans love your story - help them wear their passion on a daily basis.                
        </p>
      </div>

      <h5> + How do I sign up?</h5>
      <div>
        <hr class="orangeDash">
        <p>The fastest way to get started building your custom storefront is to fill out this form.</p>
        <p>Our process is simple:</p>
        <ol>
          <li>You provide us with a logo or some other design inspiration, and we do all of the rest. Our team will mock up designs for you, with the goal of taking your logo and turning it into custom merchandise that your fans will love.</li>
          <li>Once you approve the designs, we'll create a custom page for you on our website (i.e. modify.com/YOU)</li>
          <li>We'll help you launch your storefront with a big bang, by giving you photos and assets that you can share with your friends through your newsletter, social media pages, or any other way!</li>
        </ol>
      </div>

      <h5> + What is the licensing agreement?</h5>
      <div>
        <hr class="orangeDash">
        <p>
          Since 2010 Modify has worked with some of the biggest brands in the world. Your brand should be treated with the same respect as the NBAs or the Foo Fighters or Nike's.
        </p>
        <p>
          The licensing agreement is a short document, which protects both of us. While you need to read all the details, the biggest points (in our opinion) are that:
          <p>
            <ol>
              <li>We will not use your brand in a way that you don't want us to. I.e. we'll get your permission for designs, and we'll respect your trademarks as if they were our property.</li>
              <li>You promise that you have the rights to your logo!</li> 
              <li>Everything else is mutual (i.e. your team and ours are treated like equals). Basically, we want to build a great, long-term partnership with you.</li>
            </ol>
            <p>
              As we're launching hundreds of partners, we worked hard to make this as beneficial of an agreement for both sides.
            </p>
          </p>
        </p>
      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    
    var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };

    $('#FAQ').accordion({
      heightStyle: "content",
      collapsible: "true",
      animate: 200,
      active: "false",
      header: "h5",
      icons: icons
    });

    analytics.page('FAQ');

  // Get Icons
  //  var icons = $('#FAQ').accordion( "option", "icons" );
  });
</script>
