<style>
    li {
        font-size: 16px;
    }
    .cardBody {
        margin-top: 25%;
        margin-left: 7%;
    }
    button.btn--secondary {
		padding: 10px 40px;
		font-size: 18px;
	}
    @media (max-width: 767px) {
        .cardBody {
            margin-top: 20px;
            margin-left: 15px;
        }
    }
</style>

</main>

<div class="grid--full">
    <div class="grid__item large--one-half">
        <img src="http://cdn.shopify.com/s/files/1/0358/9733/files/CorporateGiftsAsset.jpg?12823995003195788476" />
    </div>
    <div class="grid__item large--one-half">
        <div class="cardBody">
            <h1>Partner Wholesale Promotion</h1>
            <hr class="orangeDash" />
            <ul>
                <li>Place ordes by <b>Sunday, May 14th</b>, to receive promotion wholesale pricing.</li>
                <li>Minimum order of 10 units</li>
                <li><b>Silicone watches</b> = $20</li>
                <li><b>Metal watches</b> = $30</li>
                <li><b>Extra straps</b> = $7.50</li>
                <li>Shipping rates vary by volume and region. We will respond with a final invoice for payment.</li>
            </ul>
            
            
            <a href="https://docs.google.com/forms/d/1oZGWM-UEIK3sQjyheq2lff50Wwf7L_xq1DunVPpyP-Y/viewform"><button class="btn--secondary">Order Now</button></a>            
            
        </div>
    </div>
</div>
