<style>
  .nlp {
    padding-left: 0;
  }
    .nlp img {
      width: 100%;
    }
</style>
<script>
  analytics.page('About');
</script>

</main>
  <img class="grid--full one-whole" src="https://cdn.shopify.com/s/files/1/0358/9733/files/DSC05059e2.jpg?15643294665276448350" alt="Modify Team" />
<main class="wrapper" role="main">
  
<div class="grid--full one-whole genSection">      
  
  <div class="grid__item">
    <div class="grid__item large--one-half media-image nlp right">
      <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/about1.jpg?15643294665276448350" alt="Awesome Watches, Awesome Brands." />
    </div>
  
    <div class="grid__item large--five-twelfths big-margin rte">
      <h1>About</h1>
      <hr class="orangeDash" />
      <p>  
        Modify Watches are the best custom watches on the market. We're talking your photos, the brands you love, and just some great designs for everyday wear.
        <ul>
          <li><a href="/pages/custom">Custom watches</a> for you, your friends or your company</li>
          <li>Designs from your favorite teams NBA, MLB, NHL, MLS</li>
          <li>Amazing products that support nonprofits, artists, local brands and more.</li>
        </ul>
        So ... what else? All of our watches come with mix-and-match faces and straps. That way you can get more value from every watch: change your strap colors to match your outfit, or buy a new design that you love without having to purchase another wrist band.
      </p>
    </div>
  </div>
  
  <div class="grid__item">
    <div class="grid__item large--one-half media-image nlp">
      <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/about2.jpg?3296815388540111188" alt="History of great partnerships." />
    </div>
    
    <div class="grid__item large--five-twelfths push--large--one-twelfth big-margin rte">
      <h1>Wait, I can partner with Modify?</h1>
      <hr class="orangeDash" />
      <p>
        YES! Anyone with an audience can use Modify Watches to help raise funds for your organization or build awareness. Learn more <a href="/pages/collaboration-form">here</a>. 
        Delivering great merchandise is hard for the little guys. See, we'd been partners with brands like the NBA, MLB, Livenation and created custom designs for dozens of Fortune-500 companies like Facebook, Google and Nike. But we kept hearing from nonprofits, social media influencers, artists and musicians that they wanted <a href="/pages/custom">custom watches</a> too.
        Because we know that having great-looking gear is the best way for fans and supporters to tell the brand's story.       
      </p>
    </div>
  </div>

  <div class="grid__item">
    <div class="grid__item large--one-half media-image nlp right">
      <img src="http://cdn.shopify.com/s/files/1/0358/9733/t/3/assets/agary.jpg" alt="Modify's Founders" />
    </div>
    
    <div class="grid__item large--five-twelfths big-margin rte">
      <h1>History</h1>
      <hr class="orangeDash" />
      <p>
        Two of us began talking about watches waaaay back in April, 2010 and finally launched 3 months later after an incredibly difficult and daring journey.
      </p>
      <p>
        We have two core principles that impact everything we do:
        <ol>
          <li>We do not want your purchase to be another transaction, but rather the start of a relationship. We expect you to tell us what to do better, and you should expect an awesome product with even better service.</li>
          <li>We're pretty good at watch design; but we're even better at listening. Our fans tell us what products to make (stainless steel watch!) and what designs to add. #ShowYourColors</li>
        </ol>
        We're serious about helping you build products you l-o-v-e, so we give every "ModiFamily" member (that's you) a voice—go ahead, join our community of 100,000+ who vote on designs on <a href="https://www.facebook.com/ModifyWatches">Facebook</a>, <a href="https://www.instagram.com/modifywatches/">Instagram</a> and <a href="https://twitter.com/modifywatches">Twitter</a>. 
      </p>
    </div>        
  </div>

</div>
